footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(12, 11, 11);
    color: white;
    text-align: center;
   
}


.navbar {
  background-color: rgb(231, 86, 38);
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  gap: 10spx; 
}


.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; 
  text-align: center; 
}


.navbar a:hover {
  background-color: #ca0707;
  color: rgb(245, 240, 240);
}


.navbar a.active {
  background-color: #04AA6D;
  color: white;
}


.container {
  display: flex;
  gap: 20px;
  margin-top: 20px; 
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}


.column:nth-child(1) {
  background-color: #f0f0f0;
}

.column:nth-child(2) {
  background-color: #e0e0e0;
}


p {
  text-align: right;
}


.container {
  align-items: center;
  justify-content: center;
  height: 300px; 
}


  